nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(62, 83, 202);
  color: aliceblue;
  border-radius: 33px 33px 0px 0px;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
li {
  color: aliceblue;
}
